@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Shopping_Test</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link href="~/lib/bootstrap-icons/font/bootstrap-icons.min.css" rel="stylesheet" />

    <link href="~/lib/font-awesome/css/fontawesome.min.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Shopping_Test.styles.css" asp-append-version="true" />

    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-dark text-white border-bottom shadow-lg mb-3 p-1">
            <div class="container-fluid">
              
                <a class="navbar-brand fw-bolder" style="color:#198754 ; text-shadow: 2px 2px #aa949e; font-size:30px;"
                   asp-area="" asp-controller="Home" asp-action="Index">Shoping E-Commerce</a>
                @{
                    if (User.IsInRole(Permissions.Admin))
                    {
                        <a class="fw-bolder h5 mt-3 mx-3 text-decoration-none colorLinksNavBar" asp-area="" asp-controller="Admin" asp-action="Index">DashBoard</a>
                    }

                  }
                @{
                    if (SignInManager.IsSignedIn(User))
                    {

                        <a class="fw-bolder h5 mt-3 mx-3 text-decoration-none colorLinksNavBar" asp-area="" asp-controller="Card" asp-action="Index">Card</a>
                    }
                  }
                <button class="navbar-toggler colorLinksNavBar" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon" ></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
@* 
    <footer class="border-top footer text-white bg-black text-center">
        <div class="container">
            &copy; 2024 - Shopping_Test - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer> *@
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/font-awesome/js/fontawesome.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
