@model ViewProducts;

@{
    ViewData["Title"] = "Create";
}
<div class="divCenter rounded-3">

<h1 class="alert fw-bold text-success text-center p-2">Create</h1>
<div class="container">

        <div class="col-sm-12 col-md-5">
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div asp-validation-summary="All" class="text-danger h4"></div>
                <div class="col-11 divImage d-none">
                    <img src="" alt="Product" class="img-thumbnail previewImage" />
                </div>
                <div class="form-group mb-2">
                    <label asp-for="product.Title" class="text-muted"></label>
                    <input asp-for="product.Title" class="form-control" />
                    <span asp-validation-for="product.Title" class="alert-danger"></span>
                </div>
            <div class="form-group w-50 mb-2">
                    <label asp-for="product.Price" class="text-muted"></label>
                    <input type="number" asp-for="product.Price" class="form-control" />
                    <span asp-validation-for="product.Price" class="alert-danger"></span>
                </div>
            <div class="custom-file mb-2">
                <label asp-for="Image" class="custom-file-label"></label>
                <input type="file" accept=".png , .jpg" asp-for="Image" class="custom-file-input Image" />
                <smail class="formtext-black text-muted d-block">Only .jpg .jpeg ,.png files are allowed with max sie 1mB</smail>
                <span asp-validation-for="Image" class="alert-danger"></span>
             </div>
            <div class="form-group w-50 mb-2 ">
                    <label asp-for="product.SizeNumber" class="text-muted"></label>
                    <input type="number" asp-for="product.SizeNumber" class="form-control" />
                    <span asp-validation-for="product.SizeNumber" class="alert-danger"></span>
                </div>
            <div class="form-group mb-2">
                    <label asp-for="MarkaId" class="text-muted"></label>
                    <select class="form-control" asp-for="MarkaId" asp-items="Model.Markas">
                    </select>
                    <span asp-validation-for="MarkaId" class="alert-danger"></span>
                </div>
            <div class="form-group mb-2">
                    <label asp-for="ClothesClassificationId" class="text-muted"></label>
                    <select class="form-control" asp-for="ClothesClassificationId" asp-items="Model.ClothesClassifications"))">
                    </select>
                    <span asp-validation-for="ClothesClassificationId" class="alert-danger"></span>
                </div>
            <div class="form-group mb-2">
                    <label asp-for="HumanClassId" class="text-muted"></label>
                    <select class="form-control" asp-for="HumanClassId" asp-items="Model.HumanClasses">
                    </select>
                    <span asp-validation-for="HumanClassId" class="alert-danger"></span>
                </div>
            <div class="form-group w-50 mb-2">
                    <label asp-for="product.Size" class="text-muted"></label>
                    <select class="form-control" asp-for="product.Size" asp-items="@Html.GetEnumSelectList<EnumClasses.Sizing>()">
                    </select>
                    <span asp-validation-for="product.Size" class="alert-danger"></span>
                </div>
            <div class="form-group mb-2">
                    <label asp-for="product.AgeStageId" class="text-muted"></label>
                    <select class="form-control" asp-for="AgeStageId" asp-items="Model.AgeStage">
                    </select>
                    <span asp-validation-for="AgeStageId" class="alert-danger"></span>
                </div>
            <div class="form-group w-50 mb-2">
                    <label asp-for="product.Rate" class="text-muted"></label>
                    <input asp-for="product.Rate" class="form-control" />
                    <span asp-validation-for="product.Rate" class="alert-danger"></span>
                </div>
            <div class="form-group w-50 mb-2">
                    <label asp-for="product.Discount" class="text-muted"></label>
                    <input asp-for="product.Discount" class="form-control" />
                    <span asp-validation-for="product.Discount" class="alert-danger"></span>
                </div>
            <div class="form-group mb-2 mt-2">
                    <input type="submit" class="btn btn-primary text-center col-5" value="Add" />
                    <a asp-action="Index" asp-controller="Product" class="btn btn-secondary col-5">Back</a>
                </div>

            </form>
        </div>
    </div>
</div>


@section Scripts {
    <script>
    $(document).ready(function () {
            $('#Image').on('change', function () {
            $(".previewImage").attr('src', window.URL.createObjectURL(this.files[0]));
            $('.divImage').removeClass('d-none');

            // var resultImage =  $(this).val().split('\\').pop();
            // $(this).siblings('label').text(resultImage);
            // var file = window.URL.createObjectURL(this.files[0]);
            // $('.divImage').removeClass('d-none');
            // $('.divImage').find('img').attr('src', file);
        });
    });
    </script>
    <partial name="_ValidationScriptsPartial" />
}
